#home {
  
  #hero {
    display: flex;
    flex-shrink: 0;
    flex-basis: auto;
    height: (100vh);
    justify-content: center;
    align-items: center;
    transition: height 9999999999999999999999s;
    background-image: url('../images/space.jpg');
    background-size: cover;
    color: white
  }

  #hero-contents {
    margin-bottom: 5em;
    h1 {
      font-weight: 400;
    }

    #logo-wrapper {
      display: flex;
      justify-content: center;
      img {
        width: 7em;
        height: 7em;
        object-fit: cover;
        border-radius: 1em;
      }
    }
  }

}
